# EditorConfig for Edge Detection Viewer
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 120

[*.{java}]
indent_style = space
indent_size = 4
max_line_length = 120

[*.{cpp,h,hpp}]
indent_style = space
indent_size = 4
max_line_length = 100

[*.{ts,js}]
indent_style = space
indent_size = 2
max_line_length = 100

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

[*.{xml}]
indent_style = space
indent_size = 4

[*.{md}]
trim_trailing_whitespace = false
max_line_length = 80

[*.gradle]
indent_style = space
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 4
